.power {
    height: 100vh;
    background-image: url('../images/Full\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 60px;
    color: $color-base-white;

    .power_header {
        margin-top: 430px;
        margin-left: -15px;

        >h3 {
            font-size: 54px;
            font-weight: 300;
            letter-spacing: 1px;
        }

        >p {
            line-height: 2;
            width: 67%;
            padding-top: 15px;
            padding-bottom: 22px;
        }

        a {
            text-decoration: none;
            color: $color-base-white;
            font-weight: 700;
            display: inline-block;
            letter-spacing: 0.8px;
            transition: .2s;

            >img {
                max-width: 100%;
                margin-left: 15px;
                padding-bottom: 2px;
            }

            &:hover {
                transform: scale(1.1);

            }
        }
    }
}