// colors

$color-base-white:rgb(255, 255, 255);
$color-base-green:rgb(130, 202, 156);
$color-base-gray: rgb(170, 170, 170);
$color-base-violet:rgb(189, 140, 191);
$color-hover-green: rgb(28, 151, 73);